/* purgecss start ignore */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  right: 15px;
  display: block;
  top: 15px;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

@screen lg {
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    display: none;
    left: 15px;
    top: 15px;
    opacity: 0.5;
    transition: all 0.5s;
  }

  .logo {
    display: block;
    position: relative;
    top: -8px !important;
    left: 10px !important;
  }
}

.bm-burger-button:hover {
  opacity: 1;
}

.bm-burger-bars {
  @apply bg-gray-100;
}

.bm-burger-bars-hover {
  @apply bg-gray-200;
  opacity: 1 !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 99;
}

.bm-cross {
  background: #fff;
}

.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  padding: 0;
}

.bm-menu {
  @apply bg-gray-800 shadow-sm;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  @apply text-white flex flex-col;
}


.bm-item-list a {
  @apply text-2xl mb-3;
}

.bm-item {
  display: inline-block;
}


.bm-overlay {
  background: rgba(0, 0, 0, 0.9);
  top: 0;
}

@screen lg {
  .bm-overlay {
  }
}

@screen sm {
  .bm-burger-button span {
  }
}

/* purgecss end ignore */
